<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <style>
            @media screen {
                body {
                    font-family: "Arial", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif, sans-serif;
                    font-size: 16px;
                    font-weight: 400;
                }
            }
        </style>
        <title>Vodafone mail</title>
    </head>
    <body style="background-color: #E6E6E6; margin: 0; padding: 20px">
        <div style="background-color: #FFF; max-width: 560px; margin: 20px auto;">
            <img src="https://vodafoneapp.robinvanuden.com/banner.jpg" alt="People" style="width: 100%;">
            <div style="padding: 20px;">
                <h2 style="color:#E60000;font-weight: 400;">Beste <span th:text="${name}"></span></h2>
                <p>Alles wat je moet weten in een paar minuten. Dat is wat je te zien krijgt bij jouw persoonlijke terugblikmoment.</p>
                <p>Wij als Vodafone denken graag met je mee en wellicht dat we zelfs iets speciaals kunnen aanbieden!</p>
                <p>
                    Benieuwd?<br>
                    <a th:href="@{'https://vodafoneapp.robinvanuden.com/'}" style="color:#E60000; text-decoration: none;">Klik hier!</a>
                </p>
                <p>Met vriendelijke groet,<br><br></p>
                <p>Team Vodafone</p>
            </div>
        </div>
    </body>
</html>
